@model PedidoCrud.Models.Produto

<h2>Criar Produto</h2>
<form asp-action="Criar" method="post">
    <label>Nome:</label>
    <input asp-for="Nome" />
    <label>Preço:</label>
    <input asp-for="Preco" />
    <label>TipoProduto:</label>
    <input asp-for="TipoProduto" />
    <button type="submit">Salvar</button>
</form>
